body {
    font-family: sans-serif;
    background-color: #eee;
}

#container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #eee;
}

.logo {
    margin: 64px 0 0 32px;
    float: left;
}

.contact {
    margin: 55px 64px 0 0;
    float: right;
}

.contact > ul {
    list-style-type: none;
}

.contact > ul > li {
    color: darkgray;
}
.contact > ul > li.name {
    font-size: 1.2em;
    color: #111;
}

.contact .fwd {
    color: darkorange;
}

footer {
    color: #bbb;
    padding-top: 32px;
    text-align: center;
}

footer > a {
    color: #bbb;
    text-decoration: none;
    font-size: 0.8em;
}

.flip-container {
    perspective: 1000px;
}

.flip-container:hover .flipper,
.flip-container.hover .flipper {
    transform: rotateY(180deg);
}

.flip-container,
.front,
.back {
    width: 445px;
    height: 255px;
}

.front, .back {
    background-color: #fefefe;
}

.flipper {
    transition: 0.5s;
    transform-style: preserve-3d;
    position: relative;
}

.front,
.back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 14px 28px rgba(0,0,0,0.20), 0 10px 10px rgba(0,0,0,0.15);
}

.front {
    z-index: 2;
    transform: rotateY(0deg);
}
.back {
    transform: rotateY(180deg);
}